# Import Libraries

In [1]:
import pandas as pd
df_SNP = pd.read_csv("/Users/cmdb/Downloads/matrix_1kg.txt",
                    sep = "\t")
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

# Solve for Allelic Frequency

In [2]:
df_SNP_edit = df_SNP.iloc[: , 4:] #POS column interfering with results

total_chromosomes = (2552 - 4) * 2 
counts = df_SNP_edit.sum(axis=1) 

allele_frq = counts/total_chromosomes

# Adding "Common Variation"

In [3]:
df_SNP['Allelic Frequency'] = allele_frq

SNP1 = df_SNP.loc[:,'Allelic Frequency'] > 0.05
SNP2 = df_SNP.loc[:,'Allelic Frequency'] < 0.95

SNP3 = SNP1 & SNP2

common_variation = df_SNP.loc[SNP3,:]

common_variation

,CHROM,POS,REF,ALT,HG00096,HG00097,HG00099,HG00100,HG00101,HG00102,...,NA21129,NA21130,NA21133,NA21135,NA21137,NA21141,NA21142,NA21143,NA21144,Allelic Frequency
20,chr21,26683267,T,G,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0.080259
32,chr21,37584553,T,C,1,2,1,1,1,1,...,1,2,0,0,0,1,1,1,0,0.595761
38,chr21,34522570,A,T,0,1,2,1,1,1,...,1,0,1,1,1,1,2,0,1,0.405612
41,chr21,41704121,A,G,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.094388
46,chr21,29502200,G,T,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0.097527
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9957,chr21,40748951,T,C,1,2,2,2,2,2,...,2,2,2,2,2,2,2,1,2,0.841837
9959,chr21,42683839,C,T,1,0,1,0,1,0,...,0,0,0,1,0,0,0,0,0,0.115973
9974,chr21,38472865,C,G,0,1,1,0,0,1,...,1,0,0,0,1,1,0,0,0,0.180730
9975,chr21,43359202,C,T,2,1,0,1,0,1,...,2,2,2,2,1,2,2,2,2,0.810047
9980,chr21,30950713,A,C,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0.077708